body {
  display: flexbox;
  justify-content: center;
  text-align: center;
  background: url('http://static1.squarespace.com/static/57856deee58c62418fa4beb3/578570368419c25970a7f1d4/5807671febbd1a790b788af4/1476970191840/I-LOVE-LUCY-banner.jpg?format=1500w');
  background-size: 300px;
  margin: auto;
  
}

#connect4 {
  background-color: rgb(190, 126, 137);
  display: inline-block;
  justify-content: space-between;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin: 5px;
}

.col.emppty {
  cursor: pointer;
}
.next-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.col.red {
  background-color: red;
}

.col.black {
  background-color: black;
}
.next-black {
  background-color: rgba(255, 255, 255, 0.2);
}

h1{
  margin: 50px;
  padding: 40px;
  background-color: pink;
  display: block;
  text-align: center;
  font-family: cursive;
}

img{
 margin: auto;
 display: block;
 justify-content: space-between;

}

#restart{
background-color: black;
color: pink;
display: inline-flexbox;
justify-content: center;
margin: 15px;
text-align: center;
}